{% extends 'base.html.twig' %}

{% block title %}{{ title_logo }}{% endblock %}

{% block logo %}{{title_logo}}{% endblock %}


{% block stylesheets %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
{% endblock %}

{% block main %}
<div class="example-wrapper">
    <h1> {{ main_page }}! </h1>
</div>
{% endblock %}
